APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:ВАШ_КЛЮЧ
APP_URL=https://ваш-проект.up.railway.app
LOG_CHANNEL=stderr

DB_CONNECTION=pgsql
DB_URL=${{Postgres.DATABASE_URL}}

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
